@import "style";

#main {
  width: 100%;
  //height: 100vh;
  padding: 70px;

  #recommended {

    .product {

      &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1.1fr;
        row-gap: 70px;
        column-gap: 116px;

        @include desktop {
          justify-content: space-between;
          column-gap: 0 !important;
        }

        @include tablet {
          justify-content: center;
        }

      }

      &__item {
        width: 350px;
        height: 500px;

      }

      &__top {
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/product_image.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        margin-bottom: 5px;
        position: relative;


        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 10px;
          top: 15px;
          background-color: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          cursor: pointer;
          animation-name: img-move;
          animation-duration: 5s;
          animation-delay: 1s;
          animation-iteration-count: infinite;
          animation-direction: alternate;

          &:hover img {
            transform: scale(1.5);
          }

          img {
            width: 16px;
            transition: all .35s linear;
          }
        }
      }

      &__bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 5px;

      }

      &__price {

        &::before {
          content: " $ ";
        }

      }

      &__title {

        opacity: .7;
      }

    }
  }


}


// animations
@keyframes img-move {
  //from {
  //  right: 10px;
  //}
  //to {
  //  right: 320px;
  //}

  0% {
    right: 10px;
  }
  50% {
    background-color: rebeccapurple;
    right: 250px;
  }
  100% {
    background-color: black;

    right: 320px;
  }
}


// lg
@media only screen and (max-width: 1200px) {

}

// desktop
@media only screen and (max-width: 992px) {

  #main {
    padding: 35px;
  }

  #main #recommended .product__list {
    row-gap: 50px;
    column-gap: 15px;
  }

}

// tablet
@media only screen and (max-width: 768px) {


}

// mobiles
@media only screen and (max-width: 576px) {

  .product__item {
    height: 400px !important;
  }

}