html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#main {
  width: 100%;
  padding: 70px;
}
#main #recommended .product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1.1fr;
  row-gap: 70px;
  column-gap: 116px;
}
@media (max-width: 991px) {
  #main #recommended .product__list {
    justify-content: space-between;
    column-gap: 0 !important;
  }
}
@media (max-width: 767px) {
  #main #recommended .product__list {
    justify-content: center;
  }
}
#main #recommended .product__item {
  width: 350px;
  height: 500px;
}
#main #recommended .product__top {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/product_image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 5px;
  position: relative;
}
#main #recommended .product__top .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation-name: img-move;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#main #recommended .product__top .icon:hover img {
  transform: scale(1.5);
}
#main #recommended .product__top .icon img {
  width: 16px;
  transition: all 0.35s linear;
}
#main #recommended .product__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
#main #recommended .product__price::before {
  content: " $ ";
}
#main #recommended .product__title {
  opacity: 0.7;
}

@keyframes img-move {
  0% {
    right: 10px;
  }
  50% {
    background-color: rebeccapurple;
    right: 250px;
  }
  100% {
    background-color: black;
    right: 320px;
  }
}
@media only screen and (max-width: 992px) {
  #main {
    padding: 35px;
  }
  #main #recommended .product__list {
    row-gap: 50px;
    column-gap: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .product__item {
    height: 400px !important;
  }
}

/*# sourceMappingURL=main.css.map */
